<!--app-add-assignment *ngIf="formVisible" (nouvelAssignment)="onNouvelAssignment($event)">

</app-add-assignment-->

<main class="container">
  <mat-checkbox (change)="onChange($event)" [checked]="onlyRendu"> Rendu seulement</mat-checkbox>
  <div class="btnAjout">
    <button mat-flat-button [disabled]="!isLogged()" class="btnAjout">
      <a routerLink="/add">
          Ajouter Devoir
      </a>
    </button>
  </div>

  <table mat-table [dataSource]="bdInitialAssignments" class="devoir-list">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element" class="style-tab"> {{element.nom}}
      </ng-container>

      <ng-container matColumnDef="dateDeRendu">
        <th mat-header-cell *matHeaderCellDef>Date de rendu</th>
        <td mat-cell *matCellDef="let element" class="style-tab"> {{element.dateDeRendu}}
      </ng-container>

      <ng-container matColumnDef="rendu">
        <th mat-header-cell *matHeaderCellDef>Rendu</th>
        <td mat-cell *matCellDef="let element"  class="style-tab" [ngClass]="{'rendu-true': element.rendu, 'rendu-false': !element.rendu}"> {{element.rendu}}
      </ng-container>

      <ng-container matColumnDef="matiere">
        <th mat-header-cell *matHeaderCellDef>Matiere</th>
        <td mat-cell *matCellDef="let element" class="style-tab"> {{element.matiere}}
      </ng-container>

      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef>Note</th>

        <td mat-cell *matCellDef="let element" class="style-tab" [ngClass]="{'bold-text': element.note > 15}">
          <span *ngIf="element.rendu; else noNote"> {{element.note}} </span>
          <ng-template #noNote></ng-template>
      </ng-container>

      <ng-container matColumnDef="remarque">
        <th mat-header-cell *matHeaderCellDef>Remarque</th>
        <td mat-cell *matCellDef="let element" class="style-tab"> {{element.remarque}}
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image Matière</th>
        <td mat-cell *matCellDef="let element" class="style-tab"> <img src={{element.image}} />
      </ng-container>

      <!--
      <nav><a (click)="clickDetail(a.id)">
        <h3 mat-subheader>{{ a.dateDeRendu | date }}</h3>
        <mat-list-item (click)="assignmentClique(a)">
          <p *ngIf="a.rendu" appRendu>{{ a.nom }} a été RENDU.</p>
          <p *ngIf="!a.rendu" appNonRendu>{{ a.nom }}, N'A PAS ETE RENDU.</p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a></nav>
          -->
  </table>
</main>
