<!--app-add-assignment *ngIf="formVisible" (nouvelAssignment)="onNouvelAssignment($event)">

</app-add-assignment-->

<main class="container">
  <mat-checkbox (change)="onChange($event)" [checked]="onlyRendu"> Rendu seulement</mat-checkbox>
  <div class="btnAjout">
    <button mat-flat-button [disabled]="!isLogged()" class="btnAjout">
      <a routerLink="/add">
          Ajouter Devoir
      </a>
    </button>
  </div>

  <input [(ngModel)]="searchTerm" placeholder="Chercher par nom">
  <button (click)="search()">Search</button>

  <button (click)="sortAssignmentsByMatiere()">Trier par matière</button>
  <button (click)="sortAssignmentsByNote()">Trier par note</button>
  <button (click)="sortAssignmentsByDateDeRendu()">Trier par date de rendu</button>

  <table mat-table [dataSource]="filteredAssignments" class="devoir-list">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; when: displayRow" class="assignment"></tr>
    <!-- Colomn def -->
        <ng-container matColumnDef="nom" >
          <th mat-header-cell *matHeaderCellDef class="style-tab">Nom</th>
          <td mat-cell *matCellDef="let element" class="style-tab" >
              {{element.nom}}
        </ng-container>

        <ng-container matColumnDef="dateDeRendu">
          <th mat-header-cell *matHeaderCellDef  class="style-tab">Date de rendu</th>
          <td mat-cell *matCellDef="let element" class="style-tab"> {{element.dateDeRendu}}
        </ng-container>

        <ng-container matColumnDef="rendu">
          <th mat-header-cell *matHeaderCellDef  class="style-tab">Rendu</th>
          <td mat-cell *matCellDef="let element"  class="style-tab" [ngClass]="{'rendu-true': element.rendu, 'rendu-false': !element.rendu}">
            {{element.rendu}}
        </ng-container>

        <ng-container matColumnDef="matiere">
          <th mat-header-cell *matHeaderCellDef  class="style-tab">Matiere</th>
          <td mat-cell *matCellDef="let element" class="style-tab"> {{element.matiere}}
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef class="style-tab">Note</th>

          <td mat-cell *matCellDef="let element" class="style-tab" [ngClass]="{'bold-text': element.note > 15}">
            <span *ngIf="element.rendu; else noNote"> {{element.note}} </span>
            <ng-template #noNote></ng-template>
        </ng-container>

        <ng-container matColumnDef="remarque">
          <th mat-header-cell *matHeaderCellDef class="style-tab">Remarque</th>
          <td mat-cell *matCellDef="let element" class="style-tab"> {{element.remarque}}
        </ng-container>

        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef class="style-tab">Image Matière</th>
          <td mat-cell *matCellDef="let element" class="style-tab"> <img src={{element.image}} />
        </ng-container>

  </table>
  <mat-paginator [length]="totalDocs"
                 [pageSize]="limit"
                 [pageSizeOptions]="[5, 10, 20]"
                 (page)="pageEvent($event)">
  </mat-paginator>
</main>
