table tr td {
  border: 1px solid black;
}

.rendu-true {
  background-color: green;
}

.rendu-false {
  background-color: red;
}

.style-tab {
  text-align: center;
  vertical-align: middle;
}

.bold-text {
  font-weight: bold;
}



.form {
  display:flex;
  flex-direction: column;
  margin:5px;
}

.devoir-list a {
  cursor: pointer;
}

.btnAjout {
  margin: 20px 0;
}

.btnAjout button {
  background-color: #3399ff;
}

.btnAjout a {
  text-decoration: none;
  color: white;
}
