
<div class="container" *ngIf="assignment">
  <h1>Edition de l'assignment {{assignment.nom}}</h1>
  <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset();">
    <mat-form-field>
      <input matInput placeholder="Nom" [(ngModel)]="nomAssignment" name="assignment-name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Matière" [(ngModel)]="matiere" name="assignment-matiere">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Ajouter une note" [(ngModel)]="note" name="assignment-note">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Ajouter une remarque" [(ngModel)]="remarque" name="assignment-remarque">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="URL image matière" [(ngModel)]="image" name="assignment-image">
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date">
    <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox *ngIf="!assignment.rendu" (click)="assignment.rendu=true">
      Rendu
    </mat-checkbox>
      <button mat-raised-button color="primary" [disabled]="((!nomAssignment)||(!dateDeRendu))">
        Sauvegarder
      </button>
    </form>
  </div>
