.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: blue;
}

.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: -webkit-fill-available;
  background-color: antiquewhite;
}

.sidenav {
  width: auto;
  background-color: salmon;
}

.sidenav-content {
  padding-left: 15px;
}

.toolbar {
  display: flex;
  background-color: lightblue;
}

.toolbar-row {
  justify-content: space-between;
}

